<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head('Add Animal')"/>
<body>
<nav th:replace="fragments :: navbar"/>


<div class="container-fluid">
    <div class="row row-header">

        <div class="col-sm-12">
            <div class="text-center footer footer-contact">
                <h1>Add Record</h1>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid margin-40">
    <div class="add-pet-row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4">
            <form class="form-horizontal" action="/pets/addPetFilestack" method="post" th:object="${pet}"
                  enctype="multipart/form-data">


                <div class="form-group">
                    <div th:fragment="petdata">
                        <div class="form-group">
                            <label class="control-label" for="name">Pet Name</label>
                            <input class="form-control" id="name" type="text" size="20" th:field="*{name}"/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}">
                                <p th:errors="*{name}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="age">Animal Age in Years</label>
                            <input class="form-control" id="age" type="text" size="2" th:field="*{age}"/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('age')}">
                                <p th:errors="*{age}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="species">Animal Species</label>
                            <input class="form-control" id="species" type="text" size="20" th:field="*{species}"/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('species')}">
                                <p th:errors="*{species}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="species">Animal Breed</label>
                            <input class="form-control" id="species" type="text" size="20" th:field="*{breed}"/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('breed')}">
                                <p th:errors="*{breed}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="radio" id="readyToAdopt1" name="readyToAdopt"
                                   th:field="*{readyToAdopt}"
                                   value="true"/>Ready To
                            Adopt<br/>
                            <input class="form-control" type="radio" id="readyToAdopt2" name="readyToAdopt"
                                   th:field="*{readyToAdopt}"
                                   value="false"/>Not Ready
                            To Adopt<br/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('readyToAdopt')}">
                                <p th:errors="*{readyToAdopt}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="story">Story</label>
                            <textarea class="form-control" id="story" rows="7" th:field="*{story}"/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('story')}">
                                <p th:errors="*{story}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="arrivalDate">Date Of Arrival</label>
                            <input class="form-control" id="arrivalDate" type="text" placeholder="MM/DD/YYYY" size="15"
                                   th:field="*{arrivalDate}"/>
                            <div class="alert alert-danger" style="display: none" id="arrivalDateWarning"><span>Date Must Be in mm/dd/yyyy format</span>
                            </div>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('arrivalDate')}">
                                <p th:errors="*{arrivalDate}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="foster">ID Number of Foster</label>
                            <input class="form-control" id="foster" type="text" size="20" th:field="*{foster}"/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('foster')}">
                                <p th:errors="*{foster}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="adopter">ID Number of Adopting Person/Family</label>
                            <input clas="form-control" class="form-control" id="adopter" type="text" size="20"
                                   th:field="*{adopter}"/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('adopter')}">
                                <p th:errors="*{adopter}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="adoptionDate">Date Of Adoption</label>
                            <input class="form-control" id="adoptionDate" type="text" placeholder="MM/DD/YYYY" size="15"
                                   th:field="*{adoptionDate}"/>
                            <div class="alert alert-danger" style="display: none" id="adoptionDateWarning"><span>Date Must Be in mm/dd/yyyy format</span>
                            </div>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('adoptionDate')}">
                                <p th:errors="*{adoptionDate}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="privateNotes">Notes for Employees and Fosters Only</label>
                            <textarea class="form-control" id="privateNotes" rows="4" th:field="*{privateNotes}"/>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('privateNotes')}">
                                <p th:errors="*{privateNotes}"/>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="checkbox">
                    <label><input type="checkbox" id="male" name="filterName" value="male"/>Male</label>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" id="female" name="filterName" value="female"/>Female</label>
                </div>

                <div class="alert alert-danger" style="display: none" id="maleFemaleMustBeOne">
                    <span>You must choose Male or Female</span>
                </div>

                <div class="alert alert-danger" style="display: none" id="maleFemaleCantBeBoth">
                    <span>You cannot select both Male and Female</span>
                </div>


                <div class="checkbox">
                    <label><input type="checkbox" id="cat_friendly" name="filterName" value="cat_friendly"/>Cat
                        Friendly</label>
                </div>


                <div class="checkbox">
                    <label><input type="checkbox" id="not_cat_friendly" name="filterName"
                                  value="not_cat_friendly"/>Not
                        Cat Friendly</label>
                </div>


                <div class="alert alert-danger" style="display: none" id="catsOrNoCats">
                    <span>You cannot select both cat friendly and not cat friendly</span>
                </div>


                <div class="checkbox">
                    <label><input type="checkbox" id="great_with_kids" name="filterName"
                                  value="great_with_kids"/>Great
                        With Kids</label>
                </div>




                <div class="checkbox">
                    <label><input type="checkbox" id="neuterd_spayed" name="filterName" value="neuterd_spayed"/>Neutered/Spayed</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="potty_trained" name="filterName" value="potty_trained"/>Potty
                        Trained</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="crate_trained" name="filterName" value="crate_trained"/>Crate
                        Trained</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="great_with_dogs" name="filterName"
                                  value="great_with_dogs"/>Great
                        With Dogs</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="not_dog_friendly" name="filterName"
                                  value="not_dog_friendly"/>Not
                        Dog Friendly</label>
                </div>
                <div class="alert alert-danger" style="display: none" id="dogsOrNoDats">
                    <span>You cannot select both good with dogs and not good with dogs</span>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="medical_foster" name="filterName" value="medical_foster"/>Medical
                        Foster</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="microchipped" name="filterName" value="microchipped"/>Microchipped</label>
                </div>
                <div class="imageForm">
                    <div class="form-group">
                        <!--<label for="image1" class="control-label">Upload an image</label>-->
                        <input class="input fspics" type="button" value="Upload Image" name="image" id="image1"/>
                        <input type="hidden" id="fs1" name="imageUrl[]"/>
                        <!--<label for="description">Image Description</label>-->
                        <input class="form-control" name="imageDescription[]" placeholder="image description" size="150"
                               type="text" id="description"/>
                        <label for="profilePic1" class="control-label">Make profile picture</label>
                        <input type="checkbox" class="profilePic" id="profilePic1"/>
                        <input type="hidden" value="false" name="profilePic[]" id="hiddenCheck1"
                               class="hiddenChecks form-control"/>
                    </div>
                </div>
                <div class="imageForm">
                    <div class="form-group">
                        <!--<label for="image2" class="control-label">Upload an image</label>-->
                        <input class="input fspics" type="button" value="Upload Image" name="image" id="image2"/>
                        <input type="hidden" id="fs2" name="imageUrl[]"/>
                        <!--<label for="description">Image Description</label>-->
                        <input class="form-control" name="imageDescription[]" placeholder="image description" size="150"
                               type="text" id="description"/>
                        <label for="profilePic1" class="control-label">Profile Picture</label>
                        <input type="checkbox" class="profilePic" id="profilePic2"/>
                        <input type="hidden" value="false" name="profilePic[]" id="hiddenCheck2"
                               class="hiddenChecks form-control"/>
                    </div>
                </div>
                <div class="imageForm">
                    <div class="form-group">
                        <!--<label for="image3" class="control-label">Upload an image</label>-->
                        <input class="input fspics" type="button" value="Upload Image" name="image" id="image3"/>
                        <input type="hidden" id="fs3" name="imageUrl[]"/>
                        <!--<label for="description">Image Description</label>-->
                        <input class="form-control" name="imageDescription[]" placeholder="image description" size="150"
                               type="text" id="description"/>
                        <label for="profilePic1" class="control-label">Profile Picture</label>
                        <input type="checkbox" class="profilePic" id="profilePic3"/>
                        <input type="hidden" value="false" name="profilePic[]" id="hiddenCheck3"
                               class="hiddenChecks form-control"/>
                    </div>
                </div>
                <div class="imageForm">
                    <div class="form-group">
                        <!--<label for="image4" class="control-label">Upload an image</label>-->
                        <input class="input fspics" type="button" value="Upload Image" name="image" id="image4"/>
                        <input type="hidden" id="fs4" name="imageUrl[]"/>
                        <!--<label for="description">Image Description</label>-->
                        <input class="form-control" name="imageDescription[]" placeholder="image description" size="150"
                               type="text" id="description"/>
                        <label for="profilePic1" class="control-label">Profile Picture</label>
                        <input type="checkbox" class="profilePic" id="profilePic4"/>
                        <input type="hidden" value="false" name="profilePic[]" id="hiddenCheck4"
                               class="hiddenChecks form-control"/>
                    </div>
                </div>
                <div class="imageForm">
                    <div class="form-group">
                        <!--<label for="image5" class="control-label">Upload an image</label>-->
                        <input class="input fspics" type="button" value="Upload Image" name="image" id="image5"/>
                        <input type="hidden" id="fs5" name="imageUrl[]"/>
                        <!--<label for="description">Image Description</label>-->
                        <input class="form-control" name="imageDescription[]" placeholder="image description" size="150"
                               type="text" id="description"/>
                        <label for="profilePic1" class="control-label">Profile Picture</label>
                        <input type="checkbox" class="profilePic" id="profilePic5"/>
                        <input type="hidden" value="false" name="profilePic[]" id="hiddenCheck5"
                               class="hiddenChecks form-control"/>
                    </div>
                </div>
                <div class="imageForm">
                    <div class="form-group">
                        <!--<label for="image6" class="control-label">Upload an image</label>-->
                        <input class="input fspics" type="button" value="Upload Image" name="image" id="image6"/>
                        <input type="hidden" id="fs6" name="imageUrl[]"/>
                        <!--<label for="description">Image Description</label>-->
                        <input class="form-control" name="imageDescription[]" placeholder="image description" size="150"
                               type="text" id="description"/>
                        <label for="profilePic1" class="control-label">Profile Picture</label>
                        <input type="checkbox" class="profilePic" id="profilePic6"/>
                        <input type="hidden" value="false" name="profilePic[]" id="hiddenCheck6"
                               class="hiddenChecks form-control"/>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button id="saveButton" class="button-secondary font-white" value="upload">Save
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
<div th:replace="fragments :: scripts"/>
<script src="https://static.filestackapi.com/v3/filestack.js"></script>
<script src="/js/addPetFilestack.js"></script>
<script>

    var client = filestack.init('ANWk7XTLRTuh0RY1BOwNwz');
    function showPicker(id) {
        client.pick({}).then(function (result) {

            var linkaddress = result.filesUploaded[0].url;
            $(id).val(linkaddress);
            $(id).prop("placeholder", linkaddress);
            $(id).prop("type", "text");
        });
    }
    //    client.pick({
    //        accept: 'image/*',
    //        maxFiles: 1
    //    }).then(function(result) {
    //        console.log(JSON.stringify(result.filesUploaded));
    //
    //    });

    $(".fspics").click(function () {
        var self = this;
        var id = $(self).attr("id");
        id = id.substr(-1);
        id = "#fs" + id;
        showPicker(id);


    });
</script>
</body>
</html>