<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head" />
<body>
<nav th:replace="fragments :: navbar" />
<div class="container">
<form action="/pets/addPet" method="post" th:object="${pet}" enctype="multipart/form-data">
    <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
    <div class="form-group">
        <label for="name">Pet Name</label>
        <input id="name" type="text" size="20" th:field="*{name}"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}">
            <p  th:errors="*{name}" />
        </div>
    </div>
    <div class="form-group">
        <label for="age">Pet Age in Years</label>
        <input id="age" type="text" size="2" th:field="*{age}"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('age')}">
            <p  th:errors="*{age}" />
        </div>
    </div>
    <div class="form-group">
        <label for="species">Pet Species</label>
        <input id="species" type="text" size="20" th:field="*{species}"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('species')}">
            <p  th:errors="*{species}" />
        </div>
    </div>
    <div class="form-group">
        <input type="radio" id="readyToAdopt1" name="readyToAdopt" th:field="*{readyToAdopt}" value="true" />Ready To Adopt<br/>
        <input type="radio" id="readyToAdopt2" name="readyToAdopt"  th:field="*{readyToAdopt}" value="false" />Not Ready To Adopt<br/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('readyToAdopt')}">
            <p  th:errors="*{readyToAdopt}" />
        </div>
    </div>
    <div class="form-group">
        <label for="foster">ID Number of Foster</label>
        <input id="foster" type="text" size="20" th:field="*{foster}"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('foster')}">
            <p  th:errors="*{foster}" />
        </div>
    </div>
    <div class="form-group">
        <label for="adopter">ID Number of Adopting Person/Family</label>
        <input id="adopter" type="text" size="20" th:field="*{adopter}"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('adopter')}">
            <p  th:errors="*{adopter}" />
        </div>
    </div>
    <div class="form-group">
        <label for="story">Story</label>
        <input id="story" type="text" size="500" th:field="*{story}"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('story')}">
            <p  th:errors="*{story}" />
        </div>
    </div>
    <div class="form-group">
        <label for="privateNotes">Notes for Employees and Fosters Only</label>
        <input id="privateNotes" type="text" size="500" th:field="*{privateNotes}"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('privateNotes')}">
            <p  th:errors="*{privateNotes}" />
        </div>
    </div>


    <!--<input type="radio" id="genderm" name="gender" value="male" /> Male<br/>-->
    <!--<input type="radio" id="genderf" name="gender" value="female"/> Female<br/>-->
    <!--<br />-->

    <input type="radio" id="catyes" name="catCompatibility"  value="cat_friendly" />Great with cats<br/>
    <input type="radio" id="catno" name="catCompatibility" value="not_cat_friendly"/>Not cat friendly<br/>
    <input type="radio" name="catCompatibility" value=""/>Neither/Unknown<br/>
    <br />

    <!--<div class="checkbox">-->
        <!--<label><input type="checkbox" id="great_with_kids"  name="filterName" value="great_with_kids"/>Great With Kids</label>-->
    <!--</div>-->
    <!--<div class="checkbox">-->
        <!--<label><input type="checkbox" id="neuterd_spayed" name="filterName" value="neuterd_spayed"/>Neutered/Spayed</label>-->
    <!--</div>-->
    <!--<div class="checkbox">-->
        <!--<label><input type="checkbox" id="potty_trained" name="filterName" value="potty_trained"/>Potty Trained</label>-->
    <!--</div>-->
    <!--<div class="checkbox">-->
        <!--<label><input type="checkbox" id="crate_trained" name="filterName" value="crate_trained"/>Crate Trained</label>-->
    <!--</div>-->
    <!--<div class="checkbox">-->
        <!--<label><input type="checkbox" id="great_with_dogs" name="filterName" value="great_with_dogs"/>Great With Dogs</label>-->
    <!--</div>-->
    <!--<div class="checkbox">-->
        <!--<label><input type="checkbox" id="medical_foster" name="filterName" value="medical_foster"/>Medical Foster</label>-->
    <!--</div>-->
    <!--<div class="checkbox">-->
        <!--<label><input type="checkbox" id="microchipped" name="filterName" value="microchipped"/>Microchipped</label>-->
    <!--</div>-->


    <!--<label>Upload an image<input type="file" name="image" id="image1" /></label>-->
    <!--<label>Upload an image<input type="file" name="image" id="image2" /></label>-->
    <!--<label>Upload an image<input type="file" name="image" id="image3" /></label>-->
    <!--<label>Upload an image<input type="file" name="image" id="image4" /></label>-->
    <!--<label>Upload an image<input type="file" name="image" id="image5" /></label>-->
    <!--<label>Upload an image<input type="file" name="image" id="image6" /></label>-->
    <!--<br/>-->

    <button class="btn btn-default" value="upload">Save</button>

</form>
</div>
</body>
</html>