<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head('Add Animal')"/>
<body>
<nav th:replace="fragments :: navbar"/>


<div class="container-fluid">
    <div class="row row-header">

        <div class="col-sm-12">
            <div class="text-center footer footer-contact">
                <h1>Add A Fur Baby Here</h1>
                <h4>Let's get them in the database so we can get them into a home.</h4>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid add-pet-container">
    <div class="row add-pet-row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <form class="form-horizontal" action="/pets/addPet" method="post" th:object="${pet}"
                  enctype="multipart/form-data">


                <div th:include="fragments :: petdata"></div>


                <div class="checkbox">
                    <label><input type="checkbox" id="male" name="filterName" value="male"/>Male</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="female" name="filterName" value="female"/>Female</label>
                </div>
                <div class="alert alert-danger" style="display: none" id="maleFemaleMustBeOne">
                    <span>You must choose Male or Female</span>
                </div>
                <div class="alert alert-danger" style="display: none" id="maleFemaleCantBeBoth">
                    <span>You cannot select both Male and Female</span>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="cat_friendly" name="filterName" value="cat_friendly"/>Cat
                        Friendly</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="not_cat_friendly" name="filterName"
                                  value="not_cat_friendly"/>Not
                        Cat Friendly</label>
                </div>
                <div class="alert alert-danger" style="display: none" id="catsOrNoCats">
                    <span>You cannot select both cat friendly and not cat friendly</span>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="great_with_kids" name="filterName"
                                  value="great_with_kids"/>Great
                        With Kids</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="neuterd_spayed" name="filterName" value="neuterd_spayed"/>Neutered/Spayed</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="potty_trained" name="filterName" value="potty_trained"/>Potty
                        Trained</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="crate_trained" name="filterName" value="crate_trained"/>Crate
                        Trained</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="great_with_dogs" name="filterName"
                                  value="great_with_dogs"/>Great
                        With Dogs</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="not_dog_friendly" name="filterName"
                                  value="not_dog_friendly"/>Not
                        Dog Friendly</label>
                </div>
                <div class="alert alert-danger" style="display: none" id="dogsOrNoDats">
                    <span>You cannot select both good with dogs and not good with dogs</span>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="medical_foster" name="filterName" value="medical_foster"/>Medical
                        Foster</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="microchipped" name="filterName" value="microchipped"/>Microchipped</label>
                </div>

                <div class="form-group">
                    <label for="image1" class="control-label">Upload an image</label>
                    <input class="input" type="file" name="image" id="image1"/>
                    <label for="description">Image Description</label>
                    <input class="form-control" name="imageDescription[]" size="150" type="text" id="description"/>
                    <label for="profilePic1" class="control-label">Profile Picture</label>
                    <input type="checkbox" class="profilePic" id="profilePic1"/>
                    <input type="hidden" value="false" name="profilePic[]" id="hiddenCheck1"
                           class="hiddenChecks form-control"/>
                </div>

                <div class="form-group">
                    <label for="image1" class="control-label">Upload an image</label>
                    <input class="input" type="file" name="image" id="image2"/>
                    <label for="description">Image Description</label>
                    <input class="form-control" name="imageDescription[]" size="150" type="text" id="description"/>
                    <label for="profilePic1" class="control-label">Profile Picture</label>
                    <input type="checkbox" class="profilePic" id="profilePic2"/>
                    <input type="hidden" value="false" name="profilePic[]" id="hiddenCheck2"
                           class="hiddenChecks form-control"/>
                </div>

                <div class="form-group">
                    <label for="image1" class="control-label">Upload an image</label>
                    <input class="input" type="file" name="image" id="image3"/>
                    <label for="description">Image Description</label>
                    <input class="form-control" name="imageDescription[]" size="150" type="text" id="description"/>
                    <label for="profilePic1" class="control-label">Profile Picture</label>
                    <input type="checkbox" class="profilePic" id="profilePic3"/>
                    <input type="hidden" value="false" name="profilePic[]" id="hiddenCheck3"
                           class="hiddenChecks form-control"/>
                </div>

                <div class="form-group">
                    <label for="image1" class="control-label">Upload an image</label>
                    <input class="input" type="file" name="image" id="image4"/>
                    <label for="description">Image Description</label>
                    <input class="form-control" name="imageDescription[]" size="150" type="text" id="description"/>
                    <label for="profilePic1" class="control-label">Profile Picture</label>
                    <input type="checkbox" class="profilePic" id="profilePic4"/>
                    <input type="hidden" value="false" name="profilePic[]" id="hiddenCheck4"
                           class="hiddenChecks form-control"/>
                </div>

                <div class="form-group">
                    <label for="image1" class="control-label">Upload an image</label>
                    <input class="input" type="file" name="image" id="image5"/>
                    <label for="description">Image Description</label>
                    <input class="form-control" name="imageDescription[]" size="150" type="text" id="description"/>
                    <label for="profilePic1" class="control-label">Profile Picture</label>
                    <input type="checkbox" class="profilePic" id="profilePic5"/>
                    <input type="hidden" value="false" name="profilePic[]" id="hiddenCheck5"
                           class="hiddenChecks form-control"/>
                </div>

                <div class="form-group">
                    <button id="saveButton" class="btn btn-default" value="upload">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments :: scripts"/>
<script src="/js/addPet.js"></script>
</body>
</html>