<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments :: head ('Edit Animal Record')" />
<body>
<nav th:replace="fragments :: navbar" />
<div class="container-fluid">
    <div class="row row-header">

        <div class="col-sm-12">
            <div class="text-center footer footer-contact">
                <h1>Update Record</h1>
            </div>
        </div>
    </div>
</div>
            <div class="container-fluid margin-40">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-md-offset-4">
            <form th:action="${'/pets/'+petDTO.pet.id+'/editFilestack'}" method="post" th:object="${petDTO}" enctype="multipart/form-data"  modelAttribute="imageList">

                <div class="form-group">
                    <label class="control-label" for="name">Pet System ID</label>
                    <input class="form-control"  id="name" type="text" size="20" th:field="*{pet.id}"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Pet Name</label>
                    <input class="form-control"  id="name" type="text" size="20" th:field="*{pet.name}"/>
                    <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('name')}">-->
                    <!--<p  th:errors="*{name}" />-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label class="control-label" for="age">Animal Age in Years</label>
                    <input class="form-control"  id="age" type="text" size="2" th:field="*{pet.age}"/>
                    <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('age')}">-->
                    <!--<p  th:errors="*{age}" />-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label class="control-label" for="species">Animal Species</label>
                    <input class="form-control"  id="species" type="text" size="20" th:field="*{pet.species}"/>
                    <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('species')}">-->
                    <!--<p  th:errors="*{species}" />-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label class="control-label" for="species">Animal Breed</label>
                    <input class="form-control"  id="species" type="text" size="20" th:field="*{pet.breed}"/>
                    <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('breed')}">-->
                    <!--<p  th:errors="*{breed}" />-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <input class="form-control" type="radio" id="readyToAdopt1" name="readyToAdopt" th:field="*{pet.readyToAdopt}" value="true" />Ready To Adopt<br/>
                    <input class="form-control" type="radio" id="readyToAdopt2" name="readyToAdopt"  th:field="*{pet.readyToAdopt}" value="false" />Not Ready To Adopt<br/>
                    <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('readyToAdopt')}">-->
                    <!--<p  th:errors="*{readyToAdopt}" />-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label class="control-label" for="story">Story</label>
                    <textarea class="form-control"  id="story" type="text" rows="7" th:field="*{pet.story}"/>
                    <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('story')}">-->
                    <!--<p  th:errors="*{story}" />-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label class="control-label" for="arrivalDate">Date Of Arrival</label>
                    <input class="form-control"  id="arrivalDate" type="text" placeholder="MM/DD/YYYY" size="15" th:field="*{pet.arrivalDate}"/>
                    <div class="alert alert-danger" style="display: none" id="arrivalDateWarning"><span>Date Must Be in mm/dd/yyyy format</span></div>
                    <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('arrivalDate')}">-->
                    <!--<p  th:errors="*{arrivalDate}" />-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label class="control-label" for="foster">ID Number of Foster</label>
                    <input class="form-control"  id="foster" type="text" size="20" th:field="*{pet.foster}"/>
                    <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('foster')}">-->
                    <!--<p  th:errors="*{foster}" />-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label class="control-label" for="adopter">ID Number of Adopting Person/Family</label>
                    <input class="form-control"  id="adopter" type="text" size="20" th:field="*{pet.adopter}"/>
                    <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('adopter')}">-->
                    <!--<p  th:errors="*{adopter}" />-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label class="control-label" for="adoptionDate">Date Of Adoption</label>
                    <input class="form-control"  id="adoptionDate" type="text" placeholder="MM/DD/YYYY" size="15" th:field="*{pet.adoptionDate}"/>
                    <div class="alert alert-danger" style="display: none" id="adoptionDateWarning"><span>Date Must Be in mm/dd/yyyy format</span></div>
                    <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('adoptionDate')}">-->
                    <!--<p  th:errors="*{adoptionDate}" />-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label class="control-label" for="privateNotes">Notes for Employees and Fosters Only</label>
                    <input class="form-control"  id="privateNotes" type="text" size="500" th:field="*{pet.privateNotes}"/>
                    <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('privateNotes')}">-->
                    <!--<p  th:errors="*{privateNotes}" />-->
                    <!--</div>-->
                </div>


                <div  th:each="filter : ${filters}">
                    <input type="hidden" th:id="@{'petHas'+ ${filter.filterName}}"   value="true"/>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" id="male"  name="filterName" value="male"/>Male</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="female" name="filterName" value="female"/>Female</label>
                </div>
                <div class="alert alert-danger" style="display: none" id="maleFemaleMustBeOne">
                    <span>You must choose Male or Female</span>
                </div>
                <div class="alert alert-danger" style="display: none" id="maleFemaleCantBeBoth">
                    <span>You cannot select both Male and Female</span>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="cat_friendly" name="filterName" value="cat_friendly"/>Cat Friendly</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="not_cat_friendly" name="filterName" value="not_cat_friendly"/>Not Cat Friendly</label>
                </div>
                <div class="alert alert-danger" style="display: none" id="catsOrNoCats">
                    <span>You cannot select both cat friendly and not cat friendly</span>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="great_with_kids"  name="filterName" value="great_with_kids"/>Great With Kids</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="neuterd_spayed" name="filterName" value="neuterd_spayed"/>Neutered/Spayed</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="potty_trained" name="filterName" value="potty_trained"/>Potty Trained</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="crate_trained" name="filterName" value="crate_trained"/>Crate Trained</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="great_with_dogs" name="filterName" value="great_with_dogs"/>Great With Dogs</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="not_dog_friendly" name="filterName" value="not_dog_friendly" />Not Dog Friendly</label>
                </div>
                <div class="alert alert-danger" style="display: none" id="dogsOrNoDats">
                    <span>You cannot select both good with dogs and not good with dogs</span>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="medical_foster" name="filterName" value="medical_foster"/>Medical Foster</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="microchipped" name="filterName" value="microchipped"/>Microchipped</label>
                </div>



                <input type="hidden" th:value="${imageCount}" id="imageCount" />


                <div>
                    <div  class="pet-picture" th:each="petImage, status : ${petDTO.imageList}">
                        <div class="imageForm">
                            <div class="form-group">
                                <p><img class="petPicConstrain" th:src="@{*{imageList[__${status.index}__].imageUrl}}" /></p>

                                <input type="hidden" th:field="*{imageList[__${status.index}__].imageUrl}" />
                                <input type="hidden" th:field="*{imageList[__${status.index}__].id}" th:value="${petImage.id}"/>
                                <!--<label>Upload a new image<input type="file" class="imageInputs" name="imageReplace" id=""/></label>-->
                                <label class="control-label">Upload a new image
                                    <input class="input existingfspics imageInputs" type="button" value="Upload"  id=""/></label>
                                <input type="hidden" id="" class="existingfs"  name="imageReplace[]"/>
                                <p class="font-dark-blue"><input class="form-control" th:field="*{imageList[__${status.index}__].imageDescription}" size="150" type="text"/>Description of Image</p>
                            </div>
                            <div class="checkboxEdit">
                                <label><input type="checkbox" class="control-label profilePic" th:field="*{imageList[__${status.index}__].profilePic}"  id=""  />Profile Picture</label>
                                <input type="hidden" value="false" name="profilePic" id="" class="hiddenChecks"/>
                            </div>
                            <div class="checkboxEdit">
                                <label><input type="checkbox" class="control-label afterAdopt" id="" th:field="*{imageList[__${status.index}__].afterAdoption}"  />Picture After Adoption</label>
                                <input type="hidden" value="false" name="afterAdopt" id="" class="hiddenChecksAdopt"/>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden"   name="imageReplace[]" />

                <div id="additionalImages">

                </div>

                <br/>

                <button class="btn btn-default formButton col-sm-offset-5" value="upload">Save</button>
            </form>
        </div>
    </div>
</div>
<div id="imageInput" hidden="hidden">
    <div class="imageForm">
        <div class="form-group">
            <!--<div class="uploadImage"><label>Upload an image<input type="file" class="imageInputs" name="image" id="" /></label>-->
            <label class="control-label">Upload an image
                <input class="fspics input" type="button" value="Upload"  name="image" id=""/></label>
            <input type="hidden" id=""  class="fs"  name="imageUrl[]"/>
            <p class="uploadImage font-dark-blue"><input class="form-control uploadImage" name="imageDescription[]" size="150" type="text"/>Description of Image</p>
        </div>
        <div class="checkboxEdit">
            <label><input type="checkbox" class="profilePic control-label" id=""/>Profile Picture</label>
            <input type="hidden" value="false" name="profilePic[]" id="" class="hiddenChecks"/>
        </div>
        <div class="checkboxEdit">
            <label><input type="checkbox" class="afterAdopt control-label"  id="" />Picture After Adoption</label>
            <input type="hidden" value="false" name="afterAdopt[]" id="" class="hiddenChecksAdopt"/>
        </div>
    </div>
</div>

<div th:replace="fragments :: scripts"/>
<script src="https://static.filestackapi.com/v3/filestack.js"></script>
<script src="/js/editPetFilestack.js"></script>
<script>

    $(document).ready(function() {
        var client = filestack.init('ANWk7XTLRTuh0RY1BOwNwz');

        function showPicker(id) {
            client.pick({

            }).then(function (result) {

                var linkaddress = result.filesUploaded[0].url;

                $(id).val(linkaddress);
                $(id).prop("placeholder", linkaddress);
                $(id).prop("type", "text");
            });
        }

//    client.pick({
//        accept: 'image/*',
//        maxFiles: 1
//    }).then(function(result) {
//        console.log(JSON.stringify(result.filesUploaded));
//
//    });

        $(".fspics").click(function () {
            console.log("click");
            var self = this;
            var id = $(self).attr("id");
            console.log(self);
            console.log(id);
            id = id.substr(-1);
            id = "#fs" + id;
            showPicker(id);
        });

        $(".existingfspics").click(function () {
            console.log("click");
            var self = this;
            var id = $(self).attr("id");
            console.log(self);
            console.log(id);
            id = id.substr(-1);
            id = "#existingfs" + id;
            showPicker(id);
        });
    });
</script>

</body>
</html>