<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head('Find by Foster/Adopter')"/>
<body>
<nav th:replace="fragments :: navbar"/>


<div class="container-fluid">
    <div class="row row-header">

        <div class="col-sm-12">
            <div class="text-center footer footer-contact">
                <h1>Search By Foster or Adopter</h1>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid pet-by-user-container">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal form-group">


                <label for="readyToAdoptOnly" class="control-label">Only Ready To Adopt (FosterSearch)</label>
                <input class="form-control" type="checkbox" id="readyToAdoptOnly"
                       value="ready"/>


                <label for="excludedAdopted" class="control-label">ExcludeAdopted Former Guest (Foster Search)</label>
                <input class="form-control" type="checkbox" id="excludedAdopted"
                       name="excludeAdopted" value="exclude"/>
                <input class="form-control" type="hidden" value="on" name="_excludeAdopted"/>

                <label for="adopter" class="control-label">Search By Adopter</label>
                <input class="form-control" type="radio" id="adopter" name="userType" value="adopter"/>

                <label for="foster" class="control-label">Search By Foster</label>
                <input class="form-control" type="radio" id="foster" name="userType" value="foster"/>


                <label for="userID" class="control-label">Search by ID</label>
                <input class="form-control" id="userID" type="text" size="15"
                       name="userID"/>


                <label for="userFirstName" class="control-label">Search First Name</label>
                <input class="form-control" id="userFirstName" type="text" size="30"
                       name="userFirstName"/>


                <label for="userLastName" class="control-label">Search Last Name</label>
                <input class="form-control" id="userLastName" type="text" size="30"
                       name="userLastName"/>

                <div class="btn btn-default" id="searchUser">Search</div>

                <div style="display: none" id="warningMessageNotBoth" class="alert alert-danger alert-dismissible"
                     role="alert">
                    <strong>Please search by ID or Name, but not both at the same time. </strong>
                </div>

                <div style="display: none" id="warningMessageChooseUser" class="alert alert-danger alert-dismissible"
                     role="alert">
                    <strong>Please Select Foster or Adopter for Search</strong>
                </div>
                <div style="display: none" id="warningMessageReadyExclude" class="alert alert-danger alert-dismissible"
                     role="alert">
                    <strong>Ready to Adopt and Exlucde Adopted are for Foster searches only</strong>
                </div>
                <div style="display: none" id="warningMessageNumeric" class="alert alert-danger alert-dismissible"
                     role="alert">
                    <strong>ID must be numeric</strong>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="col-sm-10">

    <div th:if="${pets != null}">
        <div th:if="${pets.size() == 0 }">No animal guests found with that criteria</div>
    </div>
    <div class="pet-container" th:each="pet : ${pets}">
        <div class="row">

            <div class="col-sm-3 pet-picture"
                th:if="${pet.getImages().size() > 0}"><img class="img-thumbnail"
                                                           th:src="@{${pet.getImages().get(0).imageUrl}}"/>
            </div>

            <div class="col-sm-9 pet-info">
                <h2>Name: <a th:href="@{'/pets/pet'+ ${pet.id}}" id="viewPet"
                             style="text-decoration: none"><span
                        th:text="${pet.name}"></span></a></h2>

                <p><h4>Breen: <span th:text="${pet.breed}"></span></h4></p>
                <p><h4>Info: <span th:text="${pet.story}"></span></h4></p>
                <p><h4>Age <span th:text="${pet.age}"></span></h4></p>
                <p><h4>Adoption Date: <span th:text="${pet.adoptionDate}"></span></h4></p>
                <p><h4>Internal Notes: <span th:text="${pet.privateNotes}"></span></h4></p>
            </div>
        </div>
    </div>

    <!--<div th:if="${petsAndPeople.pets != null}">-->
    <!--<div th:if="${petsAndPeople.pets.size() == 0 }">No animal guests found with that criteria</div>-->
    <!--</div>-->
    <!--<div c  lass="pet-container" th:each="pet, status : ${petsAndPeople.pets}">-->
    <!--<div class="row">-->
    <!--<input type="hidden" th:field="*{imageList[__${status.index}__].id}" th:value="${petImage.id}"/>-->
    <!--<div class="col-sm-3 pet-picture"-->
    <!--th:if="${pet.getImages().size() > 0}"><img class="img-thumbnail"-->
    <!--th:src="@{'/uploads/img/'+ ${pet.getImages().get(0).imageUrl}}"/>-->
    <!--</div>-->

    <!--<div class="col-sm-9 pet-info">-->
    <!--<h2>Name: <a th:href="@{'/pets/pet'+ ${pet.id}}" id="viewPet"-->
    <!--style="text-decoration: none"><span-->
    <!--th:text="${pet.name}"></span></a></h2>-->

    <!--<p><h4>Breen: <span th:text="${pet.breed}"></span></h4></p>-->
    <!--<p><h4>Info: <span th:text="${pet.story}"></span></h4></p>-->
    <!--<p><h4>Age <span th:text="${pet.age}"></span></h4></p>-->
    <!--<p th:if="${petsAndPeople.fosters[__${status.index}__}].id != null }"><h4>Foster ID <span th:text="${petsAndPeople.fosters[__${status.index}__}].id}"></span></h4></p>-->
    <!--<p th:if="${petsAndPeople.fosters[__${status.index}__}].id != null }"><h4>Foster Name <span th:text="${petsAndPeople.fosters[__${status.index}__}].firstName}"></span> <span-->
    <!--th:text="${petsAndPeople.fosters[__${status.index}__}].lastName}"></span></h4></p>-->
    <!--<p th:if="${petsAndPeople.adopters[__${status.index}__}].id != null}"><h4>Adopter ID <span th:text="${petsAndPeople.adopters[__${status.index}__}].id}"></span></h4></p>-->
    <!--<p th:if="${petsAndPeople.adopters[__${status.index}__}].id != null }"><h4>Adopter Name <span th:text="${petsAndPeople.adopters[__${status.index}__}].firstName}"></span> <span-->
    <!--th:text="${petsAndPeople.adopters[__${status.index}__}].lastName}"></span></h4></p>-->
    <!--<p><h4>Adoption Date: <span th:text="${pet.adoptionDate}"></span></h4></p>-->
    <!--<p><h4>Internal Notes: <span th:text="${pet.privateNotes}"></span></h4></p>-->
    <!--</div>-->
    <!--[__${status.index}__]-->
    <!--</div>-->
    <!--</div>-->
</div>

<div th:replace="fragments :: scripts"/>
<script src="/js/searchPetByUser.js"></script>
</body>
</html>