<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head('Find Pet')"/>
<body>
<nav th:replace="fragments :: navbar"/>


<div class="container-fluid container-pet-view text-center">
    <div class="row">

        <div class="col-sm-2 pet-filter">
            <div class="dropdown" th:attr="data-types=${list}">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false"> Types Of Animals <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{'/pets/all'}">all</a></li>
                    <li th:each="oneSpecies : ${list}"><a th:href="@{'/pets/'+ ${oneSpecies} + '/type/all'}"
                                                          th:text="${oneSpecies}+'s'"></a></li>
                </ul>
            </div>

            <div class="dropdown" th:attr="data-types=${breeds}">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false"> Breeds <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li th:each="oneBreed : ${breeds}"><a th:if="${oneBreed} != null"
                                                          th:href="@{'/pets/'+ ${species} + '/breed/' + ${oneBreed} +'/all'}"
                                                          th:text="${oneBreed}+'s'"></a></li>
                </ul>
            </div>


            <div class="checkbox">
                <label><input type="checkbox" id="male"/>Male</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" id="female"/>Female</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" id="neutered_spayed"/>Neutered/Spayed</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" id="potty_trained"/>Potty Trained</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" id="goodWKids"/>Great With Kids</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" id="crateTrained"/>Crate Trained</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" id="greatWDogs"/>Great With Dogs</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" id="noDogs"/>Not Dog Friendly</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" id="medicalFoster"/>Medical Foster</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" id="microchipped"/>Microchipped</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" id="noCats"/>Not Cat Friendly</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" id="#catFriendly"/>Great with Cats</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" id="underYear"/>Under a Year</label>
            </div>
            <div class="btn btn-primary" id="searchFiltered">Search</div>


        </div>

        <div class="col-sm-10">
            <div class="pet-container text-center" th:each="pet : ${pets}">
                <!--<div class="row">-->
                <!--<div class="col-sm-3 pet-picture text-center">-->


                <div th:if="${pet.getImages().size() > 0}">
                    <div th:each="petImage : ${pet.getImages()}">
                        <div th:if="${petImage.profilePic} == true">
                            <h3 th:text="${pet.name}"></h3>
                            <img class="img-pet" th:alt="${petImage.ImageDescription}"
                                 th:src="@{'/uploads/img/'+ ${petImage.imageUrl}}"/>
                        </div>

                        <button class="button-primary allpets-btn"><a th:href="@{'/pets/pet'+ ${pet.id}}"
                                                                      id="viewPet" style="color: white">More
                            Info</a></button>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


                <!--<div class="row text-center">-->
                <!--<button class="button-primary journey-btn"><a href="pets/all" style="color: white">More Info</a></button>-->
                <!--</div>-->


                <!--</div>-->
            <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-sm-6 pet-info text-center">-->
<!--<h2>Name: <a th:href="@{'/pets/pet'+ ${pet.id}}" id="viewPet"-->
<!--style="text-decoration: none"><span-->
<!--th:text="${pet.name}"></span></a></h2>-->

<!--<p><h4>Age <span th:text="${pet.age}"></span></h4></p>-->

<!--</div>-->

<!--<div class="col-sm-3 pet-info">-->
<!--<div class="row text-center">-->
<!--<button class="button-primary journey-btn"><a href="pets/all" style="color: white">More Info</a></button>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-sm-9 pet-info">-->
<!--<h2>Name: <a th:href="@{'/pets/pet'+ ${pet.id}}" id="viewPet"-->
<!--style="text-decoration: none"><span-->
<!--th:text="${pet.name}"></span></a></h2>-->

<!--<p><h4>Info: <span th:text="${pet.story}"></span></h4></p>-->


<!--<p><h4>Age <span th:text="${pet.age}"></span></h4></p>-->

<!--<p><h4>Internal Notes: <span th:text="${pet.privateNotes}"></span></h4></p>-->
<!--</div>-->


<!--<div th:each="pet : ${pets}">-->
<!--<p><h2>Name: <a th:href="@{'/pets/pet'+ ${pet.id}}" id="viewPet" style="text-decoration: none"><span th:text="${pet.name}"></span></a></h2></p>-->
<!--<p><h4>Info: <span th:text="${pet.story}"></span></h4></p>-->
<!--<p><h4>Age <span th:text="${pet.age}"></span></h4></p>-->
<!--<p><h4>Internal Notes:  <span th:text="${pet.privateNotes}"></span></h4></p>-->


<!--<p th:if = "${pet.getImages().size() > 0}"><img th:src="@{'/img/'+ ${pet.getImages().get(0).imageUrl}}" /></p>-->
<!---->
<!--</div>-->


<input type="hidden" th:value="${species}" id="species"/>
<input type="hidden" th:value="${breed}" id="breed"/>

<div th:replace="fragments :: login"/>
<div th:replace="fragments :: register"/>
<div th:replace="fragments :: footer"/>
<div th:replace="fragments :: scripts"/>
<script src="/js/species.js"></script>
<script src="/js/petsIndex.js"></script>
<script>


</script>
</body>
</html>