<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head('View Pet')"/>
<body>
<nav th:replace="fragments :: navbar"/>


<div class="container-fluid">
    <div class="row row-header">

        <div class="col-sm-12">
            <div class="text-center footer footer-contact">
                <h1 th:text="${pet.name}"></h1>
                <h4 th:text="${pet.breed}"></h4>
            </div>
        </div>
    </div>
</div>


<div class="fluid-container">
    <div class="row row-individual-pet">
        <div class="col-xs-12 col-md-4 text-center">

            <div th:each="petImage : ${pet.getImages()}">
                <div th:if="${petImage.profilePic} == true">
                    <img class="img-pet" th:alt="${petImage.ImageDescription}"
                         th:src="@{${petImage.imageUrl}}"/>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="modalLong" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLongTitle">Browse Pictures</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">


                                <div th:each="petImage : ${pet.getImages()}">
                                    <img class="single-pet img-responsive text-center"
                                         th:alt="${petImage.imageDescription}"
                                         th:src="@{${petImage.imageUrl}}"/>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            <button sec:authorize="hasAuthority('admin') or hasAuthority('foster')"
                                    class="button-admin" id="searchFiltered"><a
                                    style="text-decoration: none; color: white"
                                    th:href="@{'/pets/' + ${pet.id}+ '/editFilestack'}" id="editPetLink">Edit</a>
                            </button>

                        </div>
                    </div>
                </div>
            </div>


            <!-- Button trigger modal -->
            <div>
                <a class="more-pictures cursor-hand" data-toggle="modal" data-target="#modalLong">More Pictures
                </a>
            </div>
            <form   th:action="@{/pets/pet__${pet.id}__}" method="post" th:object="${user}">
            <div>
                <button  id="favoriteButton" value="submit"><i class="fa fa-heart fa-3x" style="color: #A8201A;" aria-hidden="true"></i>
                </button>
                <p sec:authorize="isAuthenticated()" class="font-dark-blue" id="addToFavorite">Add pet to favorites</p>
                <p sec:authorize="isAnonymous()" class="font-dark-blue" id="addToFavorite">Login to favorite this pet</p>
                <input sec:authorize="isAnonymous()" type="hidden" id="cannotFav" value="true" />
                <div class="alert alert-danger" style="display: none" id="favoriteWarning"><span>You must register/login to favorite a pet</span>
                </div>
            </div>
            </form>
            <div>
                <button sec:authorize="hasAuthority('admin') or hasAuthority('foster')" class="button-secondary"
                        id="searchFiltered"><a style="text-decoration: none; color: white"
                                               th:href="@{'/pets/' + ${pet.id}+ '/editFilestack'}"
                                               id="editPetLink">Edit</a>
                </button>
            </div>
            <div>
                <button sec:authorize="hasAuthority('admin') or hasAuthority('foster')" class="button-secondary"
                        id="searchFiltered"><a style="text-decoration: none; color: white"
                                               th:href="@{'/pets/' + ${pet.id}+ '/viewAllMed'}"
                                               id="editPetLink">View Medical</a>
                </button>
            </div>
            <div>
                <button sec:authorize="hasAuthority('admin') or hasAuthority('foster')" class="button-secondary"
                        id="searchFiltered"><a style="text-decoration: none; color: white"
                                               th:href="@{'/pets/addMedicalRecord/' + ${pet.id}}"
                                               id="editPetLink">Add Medical</a>
                </button>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 single-pets-info">
            <!--<h2 th:text="${pet.name}"></h2>-->
            <div class="pet-story">
                <h4 th:text="${pet.story}"></h4>
                <!--<p><h4>Breed: <span th:text="${pet.breed}"></span></h4></p>-->
                <h4>Age <span th:text="${pet.age}"></span></h4>
            </div>


            <div class="admin-info pet-story">

                <p><h4 sec:authorize="hasAuthority('admin') or hasAuthority('foster')">Date of Arrival: <span
                    th:text="${pet.arrivalDate}"></span></h4></p>
                <p><h4 sec:authorize="hasAuthority('admin') or hasAuthority('foster')">Internal Notes: <span
                    th:text="${pet.privateNotes}"></span></h4></p>
                <p th:if="${foster != null }"><h4 sec:authorize="hasAuthority('admin') or hasAuthority('foster')">Foster
                ID
                <span th:text="${foster.id}"></span></h4></p>
                <p th:if="${foster != null }"><h4 sec:authorize="hasAuthority('admin') or hasAuthority('foster')">Foster
                Name
                <span th:text="${foster.firstName}"></span> <span
                        th:text="${foster.lastName}"></span></h4></p>
                <p th:if="${adopter != null }"><h4 sec:authorize="hasAuthority('admin') or hasAuthority('foster')">
                Adopter ID
                <span th:text="${adopter.id}"></span></h4></p>
                <p th:if="${adopter != null }"><h4 sec:authorize="hasAuthority('admin') or hasAuthority('foster')">
                Adopter Name
                <span th:text="${adopter.firstName}"></span> <span
                    th:text="${adopter.lastName}"></span></h4></p>
                <p><h4 sec:authorize="hasAuthority('admin') or hasAuthority('foster')">Adoption Date: <span
                    th:text="${pet.adoptionDate}"></span></h4></p>
            </div>

        </div>

        <div class="col-xs-12 col-md-4 text-center">
            <div>

                <div class="what-next">What's Next?</div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="pet-cta text-center">
                            <li class="adopt">
                                <button class="button-primary-pet-page"><a href="/adoptionForm" style="color: white">Apply
                                    To
                                    Adopt</a>
                                </button>
                            </li>

                            <li>
                                <div class="foster"></div>
                                <button class="button-primary-pet-page"><a href="/fosterForm" style="color: white">Apply
                                    To
                                    Foster</a>
                                </button>
                            </li>
                            <li>
                                <div class="play-date"></div>
                                <button class="button-primary-pet-page"><a href="/playDateForm" style="color: white">Set
                                    Up Play
                                    Date</a>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!---->
                <!--<button  sec:authorize="hasAuthority('admin') or hasAuthority('foster')" class="button-secondary" id="searchFiltered"><a style="text-decoration: none; color: white"-->
                <!--th:href="@{'/pets/' + ${pet.id}+ '/editFilestack'}" id="editPetLink">Edit</a>-->
                <!--</button>-->

            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: login"/>
<div th:replace="fragments :: register"/>
<div th:replace="fragments :: footer"/>
<div th:replace="fragments :: scripts"/>
<script src="/js/species.js"></script>
<script src="/js/individualPet.js"></script>


</body>
</html>


