<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head('View Pet')" />
<body>
<nav th:replace="fragments :: navbar" />

<p><h2>Name: <span th:text="${pet.name}"></span></h2></p>
<p><h4>Info: <span th:text="${pet.story}"></span></h4></p>
<p><h4>Age <span th:text="${pet.age}"></span></h4></p>
<p><h4>Internal Notes:  <span th:text="${pet.privateNotes}"></span></h4></p>
<div th:each="petImage : ${pet.getImages()}">
    <p><img th:src="@{'/uploads/img/'+ ${petImage.imageUrl}}" /></p>
</div>

<script src="http://code.jquery.com/jquery-2.2.4.min.js"  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>