<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head('Find Guest Animal')"/>
<body>
<nav th:replace="fragments :: navbar"/>


<div class="container-fluid">
    <div class="row row-header">

        <div class="col-sm-12">
            <div class="text-center footer footer-contact">
                <h1>Add A Fur Baby Here</h1>
                <h4>Let's get them in the database so we can get them into a home.</h4>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid one-pet-container">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-group">

            <label for="petID" class="control-label">Search by ID</label>
            <input class="form-control" id="petID" type="text" size="15" name="petID"/>


            <label for="petName" class="control-label">Search by Name</label>
            <input class="form-control" id="petName" type="text" size="30" name="petName"/>


            <div class="btn btn-default" id="searchIndividual">Search</div>

            <div style="display: none" id="warningMessage" class="alert alert-danger alert-dismissible" role="alert">
                <strong>Please search by ID or Name, but not both at the same time. </strong>
            </div>

            </form>
        </div>
    </div>
</div>

<div class="col-sm-10">
    <div class="pet-container" th:each="pet : ${pets}">
        <div class="row">

            <div class="col-sm-3 pet-picture"
                 th:if="${pet.getImages().size() > 0}"><img class="img-thumbnail"
                                                            th:src="@{'/uploads/img/'+ ${pet.getImages().get(0).imageUrl}}"/>
            </div>

            <div class="col-sm-9 pet-info">
                <h2>Name: <a th:href="@{'/pets/pet'+ ${pet.id}}" id="viewPet"
                             style="text-decoration: none"><span
                        th:text="${pet.name}"></span></a></h2>

                <p><h4>Info: <span th:text="${pet.story}"></span></h4></p>


                <p><h4>Age <span th:text="${pet.age}"></span></h4></p>

                <p><h4>Internal Notes: <span th:text="${pet.privateNotes}"></span></h4></p>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments :: scripts"/>
<script src="/js/searchIndividual.js"></script>
</body>
</html>