<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Pet Not Found')"/>
<body>
<nav th:replace="fragments :: navbar"/>
<div class="containter">
<div class="jumbotron">
    <h1>Page not found!!</h1>
    <div class="col-xs-12 col-sm-6 col-md-4 text-center ">
        <img class="img-responsive text-center" style="margin-left: 70%; margin-top: 15%" th:src="@{/img/wanderlost.jpg}"/>
    </div>
</div></div>
<div th:replace="fragments :: login"/>
<div th:replace="fragments :: register"/>
<div th:replace="fragments :: scripts"/>
<script src="/js/species.js"></script>
</body>
</html>