body, html {
    height: 100%;
    /*width: 95%;*/
    /*margin: auto;*/
}

body{
    padding-top: 95px;
}

h1 {
    font-family: 'Patua One';
    font-size: 43px;
}

h2 {
    font-family: 'Lato';
    font-size: 32px;
}

h3 {
    font-family: 'Lato';
    font-size: 24px;
}

h4 {
    font-family: 'Lato';
    font-size: 19px;
}


p {
    color: white;
    font-size: 19px;
}


/*////////////////////////////////////////////////////////////////  colors   */
.background-dark-blue {
    background-color: #143642;
}

.background-light-blue {
    background-color: #0F8B8D;
}

.background-purple {
    background-color: #27213C;
}

.font-white {
    color: white;
}

.font-dark-blue {
    color: #143642;
}

.font-purple {
    color: #27213C;
}






/*////////////////////////////////////////////////////////// navbar */
.navbar {
    background-color: #143642;
    border: #143642;
    height: 100px;
    /*width: 90.2%;*/
    /*margin: auto;*/
}

.nav-filter-links {
    margin-right: 18px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    padding-top: 38px;
    font-size: 18px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-nav {
    margin-right: 5px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #0F8B8D;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #143642;
    background-color: #143642;
}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: white;
    background-color: #143642;
}


/*////////////////////////////////////////////////////////////////*/
.homepage-left-col {
    aalign-items: center;
    padding-top: 25%;
    padding-bottom: 25%;
    padding-left: 10%;
    padding-right: 10%;
    height: 532px;
}

.dog-homepage {
    object-fit: cover;
    height: 532px;
    padding: 8px;
}

.cat-homepage {
    object-fit: cover;
    height: 266px;
    padding: 8px;
}

.hamster-homepage {
    object-fit: cover;
    height: 266px;
    padding: 8px;
}

.container-homepage-main {
    padding-top: 14px;
    padding-bottom: 6px;
}







/*//////////////////////////////////////////////////////buttons*/
.button-primary {
    background-color: #A8201A;
    border: none;
    height: 40px;
    width: 150px;
    margin: 5px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}


.button-secondary {
    background-color: dodgerblue;
    border: none;
    height: 40px;
    width: 150px;
    margin: 5px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.get-started-btn {
    margin-top: 26px;
}

.allpets-btn {
    margin-top: 15px;
}

.form-button {
    margin-top: 10px;
}



/*//////////////////////////////////////////////////////// how it works section*/
.how-it-works-heading {
    color: white;
    border: none;
    font-size: 35px;
    padding: 16px
}

.how-it-works-body {
    color: white;
    border: none;
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: 20px;
    font-size: 17px;
}

.how-it-works {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #143642;
}

.how-it-works-content {
    color: #143642;
    padding-left: 50px;
    padding-right: 50px;
}

.how-it-works-row {
    padding-top: 50px;
    padding-bottom: 50px;
}

.howitworks {
    color: #143642;
    font-size: 35px;
    padding-top: 16px;
}






/*/////////////////////////////////////////////////////filter*/
.pet-filter {
    background-color: 0F8B8D;
    color: white;
    padding-left: 30px;
    padding-top: 27px;
    display: inline-block;
}

#nav-filter {
    margin:0;
    padding:0;
}

#nav-filter li {
    display:inline-block;
}


.filter-button {

}

.filter-row {
    background-color: white;
    margin-bottom: 0;
    padding-top:15px;
}

.dropdown-toggle {
    margin-right: 5px;
    margin-left: 5px;
}

.logo {
    height: 73px;
    width: 184px;
    margin-left: 11px;
}




/*/////////////////////////////////////////// quote section*/
.quote-container {
    background-color: #27213C;
    color: #143642;
    padding-top: 90px;
    padding-bottom: 90px;
}

blockquote footer {
    color: #0F8B8D;
}

cite {
    color: #0F8B8D;
}






.img-responsive {
    width: 100%;
}


.footer {
    margin-top: 50px;
}

.fa {
    padding:20px;
    margin-bottom: 50px;
}


.footer-list {
    list-style-type: none;
    padding-left: 0;
}

.footer-row {
    background-color: #DAD2D8;
    width: 100%;
    margin: auto;
}


.pet-container {
    display: inline-block;
    margin: 20px 20px 40px 20px;
    /*background-color: #143642;*/
}

.container-pet-view {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pets-all-col {
    margin:auto;
}

a {
    color: #27213C;
    text-decoration: none;
}

a:hover {
    color: #27213C;
    text-decoration: none;
}

.cursor-hand {
    cursor: pointer;
    cursor: hand;
}


.square {
    height: 200px;
    width: 200px;
    background-color: black;
}

.number {
    border: 2px solid black;
    width: 25%;
    max-width: 250px;
    display: inline-block;
    margin: auto;
    padding: 20px;
}

.numbers {
    height: 300px;
}



.contact-info {
    color: #27213C;
    font-size: 20px;
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    /*background-color: #fff;*/
    border: none;
    border-radius: 0;
}

.pets-all {
    display: inline-block;
}

.img-pet {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


.checkbox {
    color: #143642;
}
#editPetLink {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 2em;
    margin: -2em;
    text-decoration: none;
    color: white;
}


#editPetForm {
    max-width: 1400px;
}

.checkboxEdit {
    display: inline-block;
    margin-right: 1vw;
}

.imageForm {
    background-color: #f6f7fb;
}

.single-pet {
    object-fit: cover;
    height:300px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}



.row-header {
    background-color: #0F8B8D;
    color: white;
    /* padding-bottom: 50px; */
    margin-top: -27px;
    padding-bottom: 5px;
}

.row-individual-pet {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    color: #143642;
}

.pets-all-row {
    background-color: white;
    margin: auto;
}


/*/////////////////////////////////////////////////////filter*/
.pet-filter {
    background-color: #0F8B8D;
    color: white;
    padding-left: 30px;
    padding-top: 27px;
    display: inline-block;
}

.modal-filter{
    display: inline-grid;
}

#nav-filter {
    margin:0;
    padding:0;
}

#nav-filter li {
    display:inline-block;
}


.filter-button {

}

.filter-row {
    background-color: white;
    margin-bottom: 0;
    padding-top:15px;
}

.dropdown-toggle {
    margin-right: 5px;
    margin-left: 5px;
}

.icon-hp {
    margin: 0;
    color: #0F8B8D;
    font-size: 48px;
}


.foster-row {
    background-color: white;
    color: #143642;
}

.foster-content {
    color: #143642;
    padding-top: 50px;
    padding-bottom: 50px;
}

.foster-p {
    font-size: 19px;
    color: #143642;
}

.login-row {
    background-color: #143642;
    color: white;
    padding-top: 4.5vw;
    padding-bottom: 4vw;
}

#wrapLogin {
    color: white;
    background-color: #27213C;
    height: 12vw;
}

#login-form{
    margin-top: 2vw;
}

.register-row {
    background-color: #143642;
    color: white;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.add-pet-container {
    padding:50px;
}


.form-control {
    background-color: #DAD2D8;
}


.search-user-container {
    padding: 50px;
}

#searchUser {
    margin-top: 10px;
}

#usersearchscreen {
    max-width: 1400px;
    margin-left: 5em;
}

.userInfo {
    padding-right: .7em;
}

.userPets {
    max-width: 300px;
    max-height: 300px;
}
.userPetsSection{
    border-bottom: double;
    margin-left: .5em;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

#searchIndividual {
    margin-top: 10px;
}

#update-user-container {
    max-width: 1300px;
}
.one-pet-container {
    padding:50px;
}

.pet-by-user-container {
    padding:50px;
}


.padding-height-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-width-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.padding-height-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.padding-width-90 {
    padding-left: 90px;
    padding-right: 90px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0F8B8D;
}

.navbar-default .navbar-toggle {
    border-color: #0F8B8D;
}

.fur-icon {
    height: 200px;
    width: 200px;
    margin: auto;
    margin-bottom: 41px;
}







