body, html {
    height: 100%;
}

.hero-image {
    background-image: url("../img/hero_img.jpg");
    background-size: cover;
    /*height: 70%;*/
    background-position: center;
    position: relative;
    min-height: 450px;
}

.hero-text {
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 10%;
    background: rgb(0, 0, 0); /* for browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
}



.navbar {
    margin-bottom: 0;
}

h1 {
    margin-bottom: 2%;
    font-family: 'Patua One', cursive;
}

.button-primary {
    background-color: darkblue;
    border: 3px solid white;
    height: 40px;
    width: 150px;
    margin: 5px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.button-secondary {
    background-color: transparent;
    border: 3px solid white;
    height: 40px;
    width: 150px;
    margin: 5px;
    fonT-size: 18px;
    font-family: 'Lato', sans-serif;
}

.homepage-text {
    padding: 3%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}


.footer {
    margin-top: 8%;
}

.map {
    height: 150px;
    width: 100%;
    margin-bottom: 8%;
}


.icon {
    height: 50px;
    width: 50px;
}


.footer-list {
    list-style-type: none;
    padding-left: 0;
}

.footer-row {
    background-color: antiquewhite;
}

img {
    height: 200px;
    width: 200px;
}

.pet-container {
    border: 2px solid black;
    margin-bottom: 5px;
}