<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments :: head('About Us')"/>

<body>
<nav th:replace="fragments :: navbar"/>

<div class="container-fluid background-light-blue">
    <div class="row padding-height-50 padding-width-50">
        <div class="col-sm-12 text-center container-size font-white">
            <h1>About Us</h1>
            <h3>FurBabyFinder.Site is an open source project that provides a free and low-cost technology
                application to the animal welfare community. FurBabyFinder.Site is an unaffiliated, volunteer-driven,
                non-competitive group that wants to work with like-minded organizations to help animal welfare
                organizations, volunteers and pets.</h3>
            <br/>
            <h4>Username: guest</h4>
            <h4>Password: guest</h4>
        </div>
    </div>

    <div class="row background-purple font-white text-center padding-top-50">
        <div class="col-sm-4 text-center padding-width-40 ">
            <h2>Micah Disney</h2>

            <img class="img-circle img-responsive about-us-pic text-center"
                 src="https://s3.amazonaws.com/alumni.codeup.com/MicahDisney.jpg"/>
            <p>Full Stack Developer</p>
            <p>Codeup Graduate</p>
            <p>
                <i class="fa fa-map-marker"></i> <span>San Antonio, TX</span>
            </p>

            <p>
                <i class="fa fa-map-envelope"></i> <span>micah.n.disney@gmail.com</span>
            </p>
            <p>
                "You miss 100% of the shots you don’t take - Wayne Gretzky”
                - Michael Scott
            </p>

            <div class="padding-bottom-50">
                <div class="social-icons">
                    <a title="linkedin" class="btn btn-social btn-block btn-linkedin"
                       target="_BLANK" href="https://www.linkedin.com/in/micahdisney/">
                        <i class="fa fa-linkedin">Micah Disney</i>
                    </a>
                </div>
                <div class="">
                    <a title="github" class="btn btn-social btn-block btn-github" target="_BLANK"
                       href="https://github.com/micahdisney">
                        <i class="fa fa-github">micahdisney</i>
                    </a>
                </div>
            </div>

        </div>


        <div class="col-sm-4 text-center padding-width-40">
            <h2>Melody Templeton</h2>

            <img class="img-circle img-responsive about-us-pic text-center"
                 src="https://s3.amazonaws.com/alumni.codeup.com/MelodyTempleton.jpg"/>
            <p>Full Stack Developer</p>
            <p>Codeup Graduate</p>
            <p>
                <i class="fa fa-map-marker"></i> <span>San Antonio, TX</span>
            </p>

            <p>
                <i class="fa fa-map-envelope"></i> <span>melody@melodyatempleton.com</span>
            </p>
            <p>
                “Bring your focus, dedication, purpose and determination into every action.”
            </p>
            <div class="padding-bottom-50">
                <div class="social-icons">
                    <a title="linkedin" class="btn btn-social btn-block btn-linkedin"
                       target="_BLANK" href="https://www.linkedin.com/in/melody-templeton-21a50213/">
                        <i class="fa fa-linkedin">Melody Templeton</i>
                    </a>
                </div>
                <div class="">
                    <a title="github" class="btn btn-social btn-block btn-github" target="_BLANK"
                       href="https://github.com/GeekChicGoddess">
                        <i class="fa fa-github">GeekChicGoddess</i>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-sm-4 text-center padding-width-40">
            <h2>Derek W. Frye</h2>

            <img class="img-circle img-responsive about-us-pic text-center"
                 src="https://s3.amazonaws.com/alumni.codeup.com/DerekFrye.jpg"/>
            <p>Full Stack Developer</p>
            <p>Codeup Graduate</p>
            <p>
                <i class="fa fa-map-marker"></i> <span>San Antonio, TX</span>
            </p>

            <p>
                <i class="fa fa-map-envelope"></i> <span>derekwfrye@gmail.com</span>
            </p>
            <p>
                "Innovation distinguishes between a leader and a follower." - Steve Jobs
            </p>

            <div class="padding-bottom-50">
                <div class="social-icons">
                    <a title="linkedin" class="btn btn-social btn-block btn-linkedin"
                       target="_BLANK" href="https://www.linkedin.com/in/derek-frye-97a42b23/">
                        <i class="fa fa-linkedin">Derek W. Frye</i>
                    </a>
                </div>
                <div class="">
                    <a title="github" class="btn btn-social btn-block btn-github" target="_BLANK"
                       href="https://github.com/frenchfryes">
                        <i class="fa fa-github">frenchfryes</i>
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>


<div th:replace="fragments :: login"/>
<div th:replace="fragments :: register"/>
<div th:replace="fragments :: footer"/>
<div th:replace="fragments :: scripts"/>

</body>
</html>