<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments :: head('Foster')"/>

<body>
<nav th:replace="fragments :: navbar"/>
<div class="container">
<div class="jumbotron">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeVXgbfyk-iEw7ta72Xiz0yX5eQdy5Ack7yD_XqoEJusDw_cQ/viewform?embedded=true" width="760" height="700" frameborder="0" marginheight="0" marginwidth="0" style="margin-left: 13%">Loading...</iframe>
</div>
    </div>
<div th:replace="fragments :: login"/>
<div th:replace="fragments :: register"/>
<div th:replace="fragments :: scripts"/>

</body>
</html>