<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head(title)">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title th:text="${title}">Fur Baby Finder</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Patua+One" rel="stylesheet"/>
    <link rel="shortcut icon"  th:href="@{/img/fur-baby-icon.png}"/>

</head>


<!-- bootstrap navbar -->
<nav th:fragment="navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="logo" th:src="@{/img/fur-baby-logo.png}"/></a>
        </div><!-- /.navbar-header -->


        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:attr="data-types=${list}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">View Pets <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{'/pets/all'}">all</a></li>
                        <li th:each="oneSpecies : ${list}"><a th:href="@{'/pets/'+ ${oneSpecies} + '/type/all'}"
                                                              th:text="${oneSpecies}+'s'"></a></li>
                    </ul>
                </li>

                <li><a href="/events">Events</a></li>
                <li><a href="/about/us">About Us</a></li>
                <li><a href="/login">Login</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle admin-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/pets/add">Add Guest Animal</a></li>
                        <li><a href="/searchUser">Search Users</a></li>
                        <li><a href="/pets/findOne">Find Guest Animal by Name/ID</a></li>
                        <li><a href="/pets/searchByUser">Find Guest Animals by Foster/Adopter</a></li>
                    </ul>
                </li>

                <!--<li><a class="cursor-hand" data-toggle="modal" data-target=".bs-login-modal-sm">Register/Login</a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

<div class="form-group">
<div th:fragment="petdata">
    <div class="form-group">
        <label class="control-label" for="name">Pet Name</label>
        <input class="form-control" id="name" type="text" size="20" th:field="*{name}"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}">
            <p th:errors="*{name}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="age">Animal Age in Years</label>
        <input class="form-control" id="age" type="text" size="2" th:field="*{age}"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('age')}">
            <p th:errors="*{age}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="species">Animal Species</label>
        <input class="form-control" id="species" type="text" size="20" th:field="*{species}"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('species')}">
            <p th:errors="*{species}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="species">Animal Breed</label>
        <input class="form-control" id="species" type="text" size="20" th:field="*{breed}"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('breed')}">
            <p th:errors="*{breed}"/>
        </div>
    </div>
    <div class="form-group">
        <input class="form-control" type="radio" id="readyToAdopt1" name="readyToAdopt" th:field="*{readyToAdopt}" value="true"/>Ready To
        Adopt<br/>
        <input class="form-control" type="radio" id="readyToAdopt2" name="readyToAdopt" th:field="*{readyToAdopt}" value="false"/>Not Ready
        To Adopt<br/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('readyToAdopt')}">
            <p th:errors="*{readyToAdopt}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="story">Story</label>
        <input class="form-control" id="story" type="text" size="500" th:field="*{story}"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('story')}">
            <p th:errors="*{story}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="arrivalDate">Date Of Arrival</label>
        <input class="form-control" id="arrivalDate" type="text" placeholder="MM/DD/YYYY" size="15" th:field="*{arrivalDate}"/>
        <div class="alert alert-danger" style="display: none" id="arrivalDateWarning"><span>Date Must Be in mm/dd/yyyy format</span>
        </div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('arrivalDate')}">
            <p th:errors="*{arrivalDate}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="foster">ID Number of Foster</label>
        <input class="form-control" id="foster" type="text" size="20" th:field="*{foster}"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('foster')}">
            <p th:errors="*{foster}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="adopter">ID Number of Adopting Person/Family</label>
        <input clas="form-control" class="form-control" id="adopter" type="text" size="20" th:field="*{adopter}"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('adopter')}">
            <p th:errors="*{adopter}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="adoptionDate">Date Of Adoption</label>
        <input class="form-control" id="adoptionDate" type="text" placeholder="MM/DD/YYYY" size="15" th:field="*{adoptionDate}"/>
        <div class="alert alert-danger" style="display: none" id="adoptionDateWarning"><span>Date Must Be in mm/dd/yyyy format</span>
        </div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('adoptionDate')}">
            <p th:errors="*{adoptionDate}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="privateNotes">Notes for Employees and Fosters Only</label>
        <input class="form-control" id="privateNotes" type="text" size="500" th:field="*{privateNotes}"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('privateNotes')}">
            <p th:errors="*{privateNotes}"/>
        </div>
    </div>


</div>
</div>
<footer th:fragment="footer" class="">
    <div class="row footer-row">

        <div class="col-sm-12">
            <div class="text-center footer footer-contact">
                <div class="contact-info"> 4450 Candyland Pkwy</div>
                <div class="contact-info"> San Antonio, TX 78210</div>
                <div class="contact-info"> 210-456-8383</div>
                <i class="fa fa-facebook" aria-hidden="true" style="font-size:48px;color:#27213C"></i>
                <i class="fa fa-twitter" aria-hidden="true" style="font-size:48px;color:#27213C"></i>
                <i class="fa fa-google-plus" aria-hidden="true" style="font-size:48px;color:#27213C"></i>
                <i class="fa fa-instagram" aria-hidden="true" style="font-size:48px;color:#27213C"></i>
            </div>
        </div>
        <!--<div class="col-sm-6">-->
        <!--<div class="text-center footer footer-map">-->
        <!--<div class="placeholder-map">-->
        <!--<img class="map" th:src="@{../img/map-placeholder.jpg}"/>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-3">-->
        <!--<div class="text-center footer footer-nav">-->
        <!--<h4>Navigation</h4>-->
        <!--<ul class="text-center footer-list">-->
        <!--<li class="dropdown" th:attr="data-types=${list}">-->
        <!--<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
        <!--aria-expanded="false">View Pets <span class="caret"></span></a>-->
        <!--<ul class="dropdown-menu">-->
        <!--<li><a th:href="@{'/pets/all'}">all</a></li>-->
        <!--<li th:each="oneSpecies : ${list}"><a th:href="@{'/pets/'+ ${oneSpecies} + '/type/all'}" th:text="${oneSpecies}+'s'"></a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li><a href="/about-us">About Us</a></li>-->
        <!--<li><a href="/how-it-works">How It Works</a></li>-->
        <!--<li><a href="/volunteer">Volunteer</a></li>-->
        <!--<li><a href="/foster">Foster</a></li>-->
        <!--<li><a href="/events">Events</a></li>-->
        <!--<li><a href="/donate">Donate</a></li>-->
        <!--<li><a href="/register-login">Register/Login</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-3">-->
        <!--<div class="text-center footer footer-follow">-->
        <!--<h4>Follow Us</h4>-->
        <!--<img class="icon" th:src="@{../img/Facebook.png}"/>-->
        <!--<img class="icon" th:src="@{../img/Google.png}"/>-->
        <!--<img class="icon" th:src="@{../img/Instagram.png}"/>-->
        <!--<img class="icon" th:src="@{../img/Twitter.png}"/>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</footer>

<!--<footer th:fragment="altfooter" class="" >-->
<!--<div style="margin-left: 1%">-->
<!--<div class="row footer-row" style="background-color:#F8F8F8!important;">-->

<!--<div class="col-sm-4">-->
<!--<h3 style="text-align: center; margin-top: 7%">Contact</h3>-->
<!--<div class="row ">-->

<!--<div class="row">-->
<!--<div class="col-sm-9" style="text-align: center">-->
<!--<h4> Address: </h4>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-5">-->
<!--<span> 4450 Candyland Pkwy </span>-->
<!--</div>-->
<!--<div class="col-sm-3">-->
<!--<p> San Antonio, TX 78210 </p>-->
<!--</div>-->
<!--<div class="col-sm-4">-->
<!--<h4 style="margin-top: -17%"> Phone: </h4>-->
<!--<span> 210-456-8383 </span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-4">-->
<!--<div class="text-center footer footer-map">-->
<!--<h4>Map</h4>-->
<!--<div class="placeholder-map">-->
<!--<img class="map" th:src="@{../img/map-placeholder.jpg}"/>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-sm-4">-->
<!--<div class="text-center footer footer-follow">-->
<!--<h4>Follow Us</h4>-->
<!--<img class="icon" th:src="@{../img/Facebook.png}"/>-->
<!--<img class="icon" th:src="@{../img/Google.png}"/>-->
<!--<img class="icon" th:src="@{../img/Instagram.png}"/>-->
<!--<img class="icon" th:src="@{../img/Twitter.png}"/>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->


<!--<div th:fragment="login" class="modal fade bs-login-modal-sm" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">-->
<!--<div class="modal-dialog" role="document">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--<h4 class="modal-title" id="gridSystemModalLabel">Login</h4>-->
<!--</div>-->
<!--<div class="modal-body">-->


<!--<div class="row">-->

<!--<div class="col-sm-6 login-container">-->

<!--<form>-->
<!--<label for="username">Username</label>-->
<!--<input id="username" class="form-control"/>-->

<!--<label for="password">Password</label>-->
<!--<input id="password" type="password" class="form-control"/>-->

<!--<button type="button" class="btn btn-default form-button">Login</button>-->
<!--</form>-->


<!--</div>-->

<!--<div class="col-sm-6">-->
<!--<h3>Need an account?</h3>-->
<!--<button type="button" class="btn btn-primary form-button" data-toggle="modal"-->
<!--data-target=".bs-register-modal-sm">Register-->
<!--</button>-->
<!--</div>-->

<!--</div>-->

<!--</div>-->
<!--<div class="modal-footer">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div th:fragment="register" class="modal fade bs-register-modal-sm" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">-->
<!--<div class="modal-dialog" role="document">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--<h4 class="modal-title" id="gridSystemModalLabel">Register</h4>-->
<!--</div>-->
<!--<div class="modal-body">-->


<!--<div class="row">-->


<!--<div class="col-sm-12">-->

<!--<form>-->
<!--<label for="username">Username</label>-->
<!--<input id="username" class="form-control"/>-->

<!--<label for="email">Email</label>-->
<!--<input id="email" class="form-control"/>-->

<!--<label for="password">Password</label>-->
<!--<input id="password" type="password" class="form-control"/>-->

<!--<input class="btn form-button" type="submit"/>-->
<!--</form>-->

<!--</div>-->

<!--</div>-->

<!--</div>-->
<!--<div class="modal-footer">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->


<div th:fragment="scripts">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/js/species.js"></script>
</div>

</html>
