<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head">
    <meta charset="UTF-8"/>

    <title th:text="${title}">Fur Baby Finder</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Patua+One" rel="stylesheet"/>

</head>


<!-- bootstrap navbar -->
<nav th:fragment="navbar" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Logo</a>
        </div><!-- /.navbar-header -->


        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:attr="data-types=${list}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">View Pets <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{'/pets/all'}">all</a></li>
                        <li th:each="oneSpecies : ${list}"><a th:href="@{'/pets/'+ ${oneSpecies} + '/type/all'}" th:text="${oneSpecies}+'s'"></a></li>
                    </ul>
                </li>
                <li><a href="/about/us">About Us</a></li>
                <li><a href="/how-it-works">How It Works</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Get Involved <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/volunteer">Volunteer</a></li>
                        <li><a href="/foster">Foster</a></li>
                        <li><a href="/events">Events</a></li>
                    </ul>
                </li>
                <li><a href="/donate">Donate</a></li>
                <li><a class="cursor-hand" data-toggle="modal" data-target=".bs-login-modal-sm">Register/Login</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>


<footer th:fragment="footer" class="">
    <div class="row footer-row">

        <div class="col-sm-3">
            <div class="text-center footer footer-contact">
                <h4>Contact</h4>
                <p> Address: </p>
                <p> 4450 Candyland Pkwy </p>
                <p> San Antonio, TX 78210 </p>
                <p> Phone: </p>
                <p> 210-456-8383 </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-center footer footer-map">
                <h4>Map</h4>
                <div class="placeholder-map">
                    <img class="map" th:src="@{../img/map-placeholder.jpg}"/>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-center footer footer-nav">
                <h4>Navigation</h4>
                <ul class="text-center footer-list">
                    <li class="dropdown" th:attr="data-types=${list}">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">View Pets <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{'/pets/all'}">all</a></li>
                            <li th:each="oneSpecies : ${list}"><a th:href="@{'/pets/'+ ${oneSpecies} + '/type/all'}" th:text="${oneSpecies}+'s'"></a></li>
                        </ul>
                    </li>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/how-it-works">How It Works</a></li>
                    <li><a href="/volunteer">Volunteer</a></li>
                    <li><a href="/foster">Foster</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/donate">Donate</a></li>
                    <li><a href="/register-login">Register/Login</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="text-center footer footer-follow">
                <h4>Follow Us</h4>
                <img class="icon" th:src="@{../img/Facebook.png}"/>
                <img class="icon" th:src="@{../img/Google.png}"/>
                <img class="icon" th:src="@{../img/Instagram.png}"/>
                <img class="icon" th:src="@{../img/Twitter.png}"/>
            </div>
        </div>
    </div>
</footer>

<div th:fragment="scripts">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/js/species.js"></script>
</div>

</html>
