<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Login form')" />
<body>

<nav th:replace="fragments :: navbar" />



<div class="container-fluid">
    <div class="row row-header">

        <div class="col-sm-12">
            <div class="text-center footer footer-contact">
                <h1>Login</h1>
                <h4>So you can have more options!</h4>
            </div>
        </div>
    </div>
</div>


<div th:if="${param.error}">
    That is an incorrect username or password.
</div>


<div class="container-fluid">


    <div class="row login-row text-center">

        <div class="col-sm-12 login-container">

            <div id="wrapLogin" class="col-md-4 col-md-offset-4">

                <div th:if="${param.error}">
                    That is an incorrect username or password.
                </div>

                <form th:action="@{/login}" method="post" id="login-form">
                    <label for="username">Username
                    <input id="username" name="username" type="text"/>
                    </label>
                    <label for="password">Password
                    <input id="password" name="password" type="password"/>
                    </label>
                 <div><button type="submit" class="btn btn-default form-button">Log In</button></div>
                </form>

            </div>
        </div>

        <div class="col-sm-12">
            <h3>Need an account?</h3>
            <button type="button" class="btn btn-default form-button"><a href="/register">Register</a>
            </button>
        </div>

    </div>

</div>

<div th:replace="fragments :: footer"/>
<div th:replace="fragments :: scripts"/>

</body>
</html>
