<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments :: head"/>

<body>
<nav th:replace="fragments :: navbar"/>

<div class="container">
    <div class="row">
        <div>
            <form>
                <label for="username">Username</label>
                <input id="username" class="form-control"  />

                <label for="email">Email</label>
                <input id="email" class="form-control" />

                <label for="password">Password</label>
                <input id="password" type="password" class="form-control" />

                <input class="btn" type="submit" />
            </form>
        </div>
    </div>
</div>


<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: scripts"></div>

</body>
</html>