<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments :: head"/>

<body>
<nav th:replace="fragments :: navbar"/>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-login-modal-sm">Login</button>

<div class="modal fade bs-login-modal-sm" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">Login</h4>
            </div>
            <div class="modal-body">


                <div class="row">

                    <div class="col-sm-6 login-container">

                        <form>
                            <label for="username">Username</label>
                            <input id="username" class="form-control"/>

                            <label for="password">Password</label>
                            <input id="password" type="password" class="form-control"/>

                            <button type="button" class="btn btn-default">Login</button>
                        </form>


                    </div>

                    <div class="col-sm-6">

                        <!--<form>-->
                        <!--<label for="username">Username</label>-->
                        <!--<input id="username" class="form-control"/>-->

                        <!--<label for="email">Email</label>-->
                        <!--<input id="email" class="form-control"/>-->

                        <!--<label for="password">Password</label>-->
                        <!--<input id="password" type="password" class="form-control"/>-->

                        <!--<input class="btn" type="submit"/>-->
                        <!--</form>-->
                        <h3>Need an account?</h3>
                        <button type="button" class="btn btn-primary">Register</button>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: scripts"></div>

</body>
</html>







